---
layout: default
title: Home
cover: false
about: 'about.html'
---

<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    {% assign author = site.authors[post.author] %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt | markdownify }} <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if author %}
              {% if author.gravatar %}
                <img class="author-thumb" src="http://2.gravatar.com/avatar/{{ author.gravatar }}?s=50" alt="{{ author.display_name }}" nopin="nopin" />
              {% else %}
                <img class="author-thumb" src="{{ site.baseurl }}/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
              {% endif %}
              <a href="{{ site.baseurl }}/authors/{{ post.author }}"
                 title="Articles by {{ author.display_name}}">
                 {{ author.display_name }}
              </a>
            {% endif %}
            {% if post.categories.size > 0 %}
              on
                {% for category in post.categories %}
                  <a href="{{ site.baseurl }}/tags/{{ category | replace: ' ','-' }}"
                     title="Articles about {{ category | titleize }}">{{ category | titleize }}</a>{% unless forloop.last %},{% endunless %}{% endfor %}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">
                {{ post.date | date_to_string }}
            </time>
        </footer>
    </article>

    <!-- Capser below -->
<!--     <article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
    </article> -->
    <!--  -->

    {% endfor %}

    {% include pagination.html %}

</main>
