---
layout: default
---

{% assign author = site.authors[page.author] %}
<h2 class="page-title">Articles by {{ author.display_name }}</a>
</h2>
<h3 class="page-description"><a href="http://twitter.com/{{author.twitter}}"
                                      title="{{author.display_name}} on Twitter"
                                      target="_blank">Follow @{{ page.author }} on Twitter</h3>

<main id="content" class="content category">
{% for post in site.posts %}
  {% if post.author == page.author %}
    <article class="post">
      <header class="post-header">
        <h2 class="post-title"><a class="read-more" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      </header>
      <section class="post-excerpt">
          {{ post.excerpt | markdownify }}
      </section>
      <footer class="post-meta">
        <time>{{ post.date | date: "%B %d, %Y" }}</time>
      </footer>
    </article>
  {% endif %}
{% endfor %}
</main>
